node_modules/
dist/
.env
.env.local
.vscode/
.DS_Store
npm-debug.log
/frontend/node_modules
/backend/node_modules
/frontend/dist
/.firebase
/.idea
# local temporary clones or forks
book-upstream/
book-verify/
